[submodule "external/rlImGui"]
	path = external/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club.git
